<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dolphin.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>mario1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,83},{57,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{57,80}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>mario2.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,83},{61,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{61,76}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>mario3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,83},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mario-hd.pvr.ccz</string>
            <key>size</key>
            <string>{200,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a205bcf765c410ffad40884de596d5b8$</string>
            <key>textureFileName</key>
            <string>mario-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
